[Unit]
Description=Custom DDNS Updater
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash $HOME/simple-ddns/ddns_checker.sh
Restart=always
User=youruser

[Install]
WantedBy=multi-user.target
